services:

  db:
    image: mysql:5.7
    command: --init-file /var/lib/init.sql
    container_name: db
    restart: always
    tty: true
    volumes:
      - ./mysql/init.sql:/var/lib/init.sql
    environment:
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - desafio2-network
    expose:
      - 3306

  node:
    build:
      context: ./node
    container_name: node-server
    ports: 
      - "3000:3000"
    networks:
      - desafio2-network
    depends_on:
      - db
    command: sh -c "/wait && node index.js"
    environment:
      - WAIT_HOSTS=db:3306

  nginx:
    build:
      context: ./nginx
    container_name: nginx-proxy
    tty: true
    ports: 
    - "8080:80"
    networks:
    - desafio2-network
    depends_on:
      - db    

networks:
  desafio2-network:
    driver: bridge
